<!-- Describe task in general -->

<p>
Votre fonction doit créer {% if is_js %}un tableau <span>(array)</span> de tableaux <span>(arrays)</span>{% else %}une liste <span>(list)</span> de listes <span>(lists)</span>{% endif %}, qui représente une grille à deux dimensions avec le nombre donné de lignes et de colonnes.</p>
<p>Cette grille doit contenir les {% if is_js %}nombres <span>(numbers)</span>{% else %}entiers <span>(integers)</span>{% endif %} de <b class="code">start</b> à <b class="code">start + rows * cols - 1</b> par ordre croissant, mais les éléments de chaque ligne d'indice impair doivent être énumérés dans l'ordre décroissant, de sorte que, lorsqu'ils sont lus dans l'ordre croissant, les nombres z et z doivent être indiqués dans l'ordre décroissant dans l'ordre croissant, les nombres se déplacent en zigzag dans la grille bidimensionnelle.
</p>

<p>
   <strong>Entrée:</strong> Deux {% if is_js %}nombres <span>(numbers)</span>{% else %}entiers <span>(integers)</span>{% endif %} - lignes et colonnes. Un facultatif {% if is_js %}nombre <span>(number)</span>{% else %}entier <span>integer</span>{% endif %} - début.
</p>

<p>
   <strong>Sortie:</strong> {% if is_js %}Tableau <span>(array)</span> de tableaux <span>(arrays)</span>{% else %}Liste <span>(list)</span> de listes <span>(lists)</span>{% endif %}.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>


<p><i>La mission a été tirée de Python CCPS 109 Fall 2018. Elle est enseignée pour l'école d'éducation permanente Ryerson Chang par <a target="_blank" href="http://www.scs.ryerson.ca/~ikokkari/">Ilkka Kokkarinen</a></i></p>
