<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />

<p>
    Your function should create {% if is_js %}an <span translate="repeat">array</span> of <span translate="repeat">arrays</span>{% else %}a <span translate="repeat">list</span> of <span translate="repeat">lists</span>{% endif %}, that represents a two-dimensional grid with the given number of rows and cols.
</p>
<p>
    This grid should contain integers <span translate="no">{% if is_js %}(number){% else %}(int){% endif %}</span> from <b class="code">start</b> to
<b class="code">start + rows * cols - 1</b> in ascending order, but the elements of every odd-index row have to be listed in descending order, so that when read in ascending order, the numbers zigzag through the two-dimensional grid.
</p>
<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}zigzag-array.png" alt="example" style="max-height: 200px"/>
</p>
<p>
    <strong>Input:</strong> Two integers <span translate="no">{% if is_js %}(number){% else %}(int){% endif %}</span> - rows and columns. One optional integer <span translate="no">{% if is_js %}(number){% else %}(int){% endif %}</span> - start.
</p>

<p>
    <strong>Output:</strong> <span translate="repeat">{% if is_js %}Array{% else %}List{% endif %}</span> of <span translate="repeat">{% if is_js %}arrays{% else %}lists{% endif %}</span>.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>


<p><i>The mission was taken from Python CCPS 109 Fall 2018. It is taught for Ryerson Chang School of Continuing Education by <a target="_blank" href="https://github.com/ikokkari">Ilkka Kokkarinen</a></i></p>
